<%- include("_header") -%>
<style>
  table,td {
border: 1px solid black;
}
</style>
<h1>Lista de empleados (<%= model.length %>)</h1>
<br/>
<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Correo</th>
        <th scope="col">Fecha de ingreso</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/create">Crear</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const empleado of model) { %>
      <tr>
        <td scope="row"><%= empleado.nombre %></td>
        <td><%= empleado.apellido%></td>
        <td><%= empleado.correo %></td>
        <td>
          <input
            type="date"
            value="<%= new Date( empleado.fechaingreso).toISOString().slice(0, 10); %>"
            readonly
          />
        </td>
        <td class="d-print-none">
          <a class="btn btn-sm btn-warning" href="/edit/<%= empleado.id %>"
            >Editar</a
          >
          <a class="btn btn-sm btn-danger" href="/delete/<%= empleado.id %>"
            >Borrar</a
          >
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include("_footer") -%>
